.sooty-image{
  width: 270px;
  height:285px;
  transform: rotate(90deg);
  display: block;
 margin-left: auto;
 margin-right: auto;
}

.arya-image{
width: 280px;
height: 280px;
display: block;
margin-left: auto;
margin-right: auto;
}

.bg-1 {
     background-color: #000000;
      color: #ffffff;
  }
  .bg-2 {
    background-color: #c60909;
    color: #ffffff;
  }
    .bg-3 {
      background-color: #ed6d12;
      color: #ffffff;
    }
   .bg-4 {background-color: #B231C0;
 color: #ffffff;
}

.bg-5 {background-color: #228B22;
color: #ffffff;
}
   .bg-6 {
     background-color: #1E90FF;
     color: #ffffff;
   }
    .bg-7 {
      background-color: #F9E79F;
      color= #00000;
    }
    .bg-8 {
      background-color: #efb864;
      padding-top: 70px;
    }

.btn-twitter {
  background: #00acee;
  border-color: #009ad5;
}
.btn-facebook {
  background: #4868ac;
  border-color: #314776;
}
.btn-instagram {
  background: #e83a7c;
  border-color: #8c385f;
}
.btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
}
