.sooty-image{
  width: 270px;
  height:285px;
  transform: rotate(90deg);
  display: block;
 margin-left: auto;
 margin-right: auto;
}

.arya-image{
width: 280px;
height: 280px;
display: block;
margin-left: auto;
margin-right: auto;
}
